@model CookingQuest.Web.Models.PlayerViewModel

@{
    ViewData["Title"] = "Player Manager";
}


@if (User.Identity.IsAuthenticated)
{
    <h1>Player Profile</h1>
    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Name)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Gold)
                </th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => modelItem.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => modelItem.Gold)
                </td>
            </tr>
        </tbody>
    </table>
}
else
{
    <br />
    <h1>User isn't Authenticated</h1>
}
@if (User.Identity.IsAuthenticated && Model.Locations.Count() != 0)
{
    <br />
    <h1>Unlocked Locations</h1>
    <table class="table">
        <thead>
            <tr>
                <th>
                    Name
                </th>
                <th>
                    Description
                </th>
                <th>
                    Difficulty
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.Locations)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Description)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Difficulty)
                    </td>
                </tr>
            }
        </tbody>
    </table>
}
else
{
    <br />
    <h1>No Unlocked Locations</h1>
}
@if (User.Identity.IsAuthenticated && Model.Equipment.Count() != 0)
{
    <br />
    <h1>Player Equipment</h1>
    <table class="table">
        <thead>
            <tr>
                <th>
                    Name
                </th>
                <th>
                    Type
                </th>
                <th>
                    Quality
                </th>
                <th>
                    Price
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.Equipment)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Type)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Difficulty)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Price)
                    </td>
                </tr>
            }
        </tbody>
    </table>
}
else
{
    <br />
    <h1>No Player Equipment</h1>
}
@if (User.Identity.IsAuthenticated && Model.Loot.Count() != 0)
{
    <br />
    <h1>Player Loot</h1>
    <table class="table">
        <thead>
            <tr>
                <th>
                    Name
                </th>
                <th>
                    Description
                </th>
                <th>
                    Price
                </th>
                <th>
                    Quantity
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.Loot)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Description)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Price)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Quantity)
                    </td>
                </tr>
            }
        </tbody>
    </table>
}
else
{
    <br />
    <h1>No Player Loot</h1>
}

