@model IEnumerable<CookingQuest.Web.API_Models.LootModel>

@{
    ViewData["Title"] = "Index";
}

@if (User.IsInRole("Administrator"))
{
    <h1>Loot (Admin)</h1>

<p>
    <a asp-action="Create">Create New Loot</a>
</p>
<div class="table-wrapper-scroll-y my-custom-scrollbar">
    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Name)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Price)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Description)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Price)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Description)
                    </td>
                    <td>
                        @Html.ActionLink("Edit", "Edit",
              new
              {
                  PlayerLootId = item.PlayerLootId,
                  LootId = item.LootId,
                  Name = item.Name,
                  Description = item.Description,
                  Price = item.Price,
                  Quantity = item.Quantity,
              })
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
}